# 專案目標:判斷怎樣的商品特徵會是成功的
定義成功 Y
1. 匯入數據

## 1.匯入數據&資料前處理
- 銷售數據
- 商品資料
    - 指定欄位內容為多少時保留: column_filter
    - 把所有資料merge在一起

In [1]:
# 銷售數據
import pandas as pd

# 通常excel 黨比較不會有編碼的問題作為干擾
dataset_sales = pd.read_excel(r'./高雄駁2銷售數據112_9_113_04.xlsx' )
#print(dataset_sales)

ready_to_drop_column = ['品項']
df_sales_drop = dataset_sales.drop(columns = ready_to_drop_column)
df_sales_drop.head()

   編號  112/9  112/10  112/11  112/12  113/1  113/2  113/3  113/4
0   1      3       5       6      10      1      1      1      7
1   2      1       0       2       3      7      2      0      5
2   3      2       3       3       3      3      2      2      2
3   4     46      34      20      40      0      5     42     40
4   5      4       1       1       6      4      2      6      9

In [2]:
# 商品數據
dataset_product = pd.read_excel(r'./一坨爛泥商品詳細資訊成本_利潤_商品類別.xlsx')
# drop掉商品名稱
dataset_product = dataset_product.drop(columns=['商品名稱'])
dataset_product.head()

# 指定要篩選的欄位名稱
column_to_filter = '抽成 (6/4) 1=抽，0=不抽'
# 只保留指定欄位數值為 1 的行
dataset_product_cleaned = dataset_product[dataset_product[column_to_filter] == 1]
#保留完之後 drop掉
dataset_product_cleaned = dataset_product_cleaned.drop(columns = ['抽成 (6/4) 1=抽，0=不抽'])
dataset_product_cleaned

    商品編號 商品售價  商品成本    淨利潤 商品類型    內容類型
0      1  250    66   84.0   胸章      醜萌
1      2  250    56   94.0   胸章      醜萌
2      3  250    76   74.0   胸章      醜萌
3      4   60     5   31.0   紙品      厭世
4      5   60     5   31.0   紙品      醜萌
5      6   60     6   30.0   紙品      醜萌
6      7   60     5   31.0   紙品     語錄型
7      8   60     5   31.0   紙品     語錄型
8      9   60     5   31.0   紙品     語錄型
9     10   60     5   31.0   紙品     語錄型
10    11   60     5   31.0   紙品     語錄型
11    12   60   7.5   28.5   紙品     語錄型
12    13   60   7.5   28.5   紙品      厭世
13    14   60   7.5   28.5   紙品     語錄型
14    15   60   7.5   28.5   紙品  一坨爛泥本色
15    16   60   7.5   28.5   紙品      醜萌
16    17   60     5   31.0   紙品      醜萌
17    18   60     7   29.0   紙品      厭世
18    19  150  13.5   76.5   吊飾      動物
19    20  160    22   74.0   吊飾  一坨爛泥本色
20    21  160    22   74.0   吊飾  一坨爛泥本色
21    22  160    22   74.0   吊飾  一坨爛泥本色
22    23  160    22   74.0   吊飾  一坨爛泥本色
23    24  160    22   74.0   吊飾  一坨爛泥本色
24    25   60     8   28.0   貼紙      醜萌
25    26   60     8   28.0   貼紙      醜萌
26    27   60     8   28.0   貼紙      醜萌
27    28  350    77  133.0  包袋類      醜萌

把商品數據 和 銷售數據做合併   
dataset_product_cleaned 供你比對:encoded/尚未encoded  
dataset_product_info 把尚未 encoded 刪掉

In [3]:

# 商品數據_labael encoding 
from sklearn.preprocessing import LabelEncoder

# 指定需要做encoding的欄位
columns_to_encode = ['商品類型','內容類型']

Label_encoder = LabelEncoder()

for columns in columns_to_encode:
    dataset_product_cleaned[columns + '_encoded'] = Label_encoder.fit_transform(dataset_product_cleaned[columns])

dataset_product_cleaned.head()

   商品編號 商品售價 商品成本   淨利潤 商品類型 內容類型  商品類型_encoded  內容類型_encoded
0     1  250   66  84.0   胸章   醜萌             3             4
1     2  250   56  94.0   胸章   醜萌             3             4
2     3  250   76  74.0   胸章   醜萌             3             4
3     4   60    5  31.0   紙品   厭世             2             2
4     5   60    5  31.0   紙品   醜萌             2             4

In [4]:
dataset_product_info = dataset_product_cleaned.drop(columns=['商品類型','內容類型'])
dataset_product_info.head()

   商品編號 商品售價 商品成本   淨利潤  商品類型_encoded  內容類型_encoded
0     1  250   66  84.0             3             4
1     2  250   56  94.0             3             4
2     3  250   76  74.0             3             4
3     4   60    5  31.0             2             2
4     5   60    5  31.0             2             4

1. 把淨利潤提取出來: data_net_income
2. 跟商品銷售數量 merge後做相乘 :merge_product_selling

In [5]:
import pandas as pd
dropping_column =["商品售價","商品成本","商品類型_encoded","內容類型_encoded"]
data_net_income = dataset_product_info.drop(columns=dropping_column)
data_net_income.rename(columns={"商品編號":"編號"}, inplace=True)
data_net_income.head()

   編號   淨利潤
0   1  84.0
1   2  94.0
2   3  74.0
3   4  31.0
4   5  31.0

In [6]:
import pandas as pd
merge_product_selling = pd.merge(df_sales_drop, data_net_income, on="編號")

base_column = "淨利潤"

for column in merge_product_selling:
    if column !="編號" and column != base_column:
        merge_product_selling[column] = merge_product_selling[column] * merge_product_selling[base_column] 

merge_product_selling

    編號   112/9  112/10  112/11  112/12  113/1  113/2   113/3   113/4    淨利潤
0    1   252.0   420.0   504.0   840.0   84.0   84.0    84.0   588.0   84.0
1    2    94.0     0.0   188.0   282.0  658.0  188.0     0.0   470.0   94.0
2    3   148.0   222.0   222.0   222.0  222.0  148.0   148.0   148.0   74.0
3    4  1426.0  1054.0   620.0  1240.0    0.0  155.0  1302.0  1240.0   31.0
4    5   124.0    31.0    31.0   186.0  124.0   62.0   186.0   279.0   31.0
5    6   150.0    90.0   150.0   120.0   90.0    0.0   120.0    60.0   30.0
6    7   155.0    31.0    31.0     0.0    0.0    0.0     0.0    31.0   31.0
7    8    31.0     0.0     0.0     0.0   31.0    0.0   124.0     0.0   31.0
8    9     0.0    93.0    62.0    31.0   31.0   31.0    62.0    31.0   31.0
9   10   124.0    62.0    31.0     0.0   31.0   31.0    62.0     0.0   31.0
10  11    31.0    31.0    93.0    93.0   62.0   31.0    62.0    31.0   31.0
11  12    57.0    85.5    85.5   142.5   85.5   85.5    57.0   142.5   28.5
12  13   570.0   826.5   541.5     0.0    0.0   28.5  1111.5   627.0   28.5
13  14   199.5   171.0   199.5   427.5    0.0   57.0     0.0     0.0   28.5
14  15    28.5    57.0     0.0   142.5  199.5  114.0    57.0   171.0   28.5
15  16     0.0   142.5   256.5   285.0  342.0  114.0   142.5    85.5   28.5
16  17     0.0     0.0     0.0   155.0   31.0    0.0    31.0     0.0   31.0
17  18     0.0     0.0     0.0     0.0    0.0    0.0     0.0   116.0   29.0
18  19  1912.5  1224.0  1300.5  2295.0  765.0  382.5   918.0  1071.0   76.5
19  20   148.0    74.0   148.0    74.0  296.0    0.0    74.0   370.0   74.0
20  21   222.0    74.0    74.0    74.0  222.0   74.0   148.0    74.0   74.0
21  22   148.0    74.0   148.0   222.0  148.0   74.0   444.0     0.0   74.0
22  23   148.0    74.0     0.0     0.0  222.0  296.0    74.0     0.0   74.0
23  24   444.0     0.0    74.0    74.0  444.0   74.0   222.0     0.0   74.0
24  25   140.0   112.0    84.0   224.0    0.0   56.0    84.0   140.0   28.0
25  26    56.0    56.0     0.0   140.0  224.0  140.0    56.0   140.0   28.0
26  27    84.0   252.0     0.0   168.0   28.0   56.0    56.0   168.0   28.0
27  28     0.0     0.0     0.0     0.0    0.0  133.0   665.0   665.0  133.0

In [7]:
import pandas as pd
ready_to_drop = ["商品售價","商品成本","淨利潤"]
dataset_product_catagory = dataset_product_info.drop(columns= ready_to_drop)
dataset_product_catagory.rename(columns={"商品編號":"編號"},inplace=True)

merge_product_selling = pd.merge(merge_product_selling, dataset_product_catagory, on="編號")
merge_product_selling

,編號,112/9,112/10,112/11,112/12,113/1,113/2,113/3,113/4,淨利潤,商品類型_encoded,內容類型_encoded
0,1,252.0,420.0,504.0,840.0,84.0,84.0,84.0,588.0,84.0,3,4
1,2,94.0,0.0,188.0,282.0,658.0,188.0,0.0,470.0,94.0,3,4
2,3,148.0,222.0,222.0,222.0,222.0,148.0,148.0,148.0,74.0,3,4
3,4,1426.0,1054.0,620.0,1240.0,0.0,155.0,1302.0,1240.0,31.0,2,2
4,5,124.0,31.0,31.0,186.0,124.0,62.0,186.0,279.0,31.0,2,4
5,6,150.0,90.0,150.0,120.0,90.0,0.0,120.0,60.0,30.0,2,4
6,7,155.0,31.0,31.0,0.0,0.0,0.0,0.0,31.0,31.0,2,3
7,8,31.0,0.0,0.0,0.0,31.0,0.0,124.0,0.0,31.0,2,3
8,9,0.0,93.0,62.0,31.0,31.0,31.0,62.0,31.0,31.0,2,3
9,10,124.0,62.0,31.0,0.0,31.0,31.0,62.0,0.0,31.0,2,3
10,11,31.0,31.0,93.0,93.0,62.0,31.0,62.0,31.0,31.0,2,3
11,12,57.0,85.5,85.5,142.5,85.5,85.5,57.0,142.5,28.5,2,3
12,13,570.0,826.5,541.5,0.0,0.0,28.5,1111.5,627.0,28.5,2,2
13,14,199.5,171.0,199.5,427.5,0.0,57.0,0.0,0.0,28.5,2,3
14,15,28.5,57.0,0.0,142.5,199.5,114.0,57.0,171.0,28.5,2,0
15,16,0.0,142.5,256.5,285.0,342.0,114.0,142.5,85.5,28.5,2,4
16,17,0.0,0.0,0.0,155.0,31.0,0.0,31.0,0.0,31.0,2,4
17,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,116.0,29.0,2,2
18,19,1912.5,1224.0,1300.5,2295.0,765.0,382.5,918.0,1071.0,76.5,1,1
19,20,148.0,74.0,148.0,74.0,296.0,0.0,74.0,370.0,74.0,1,0
20,21,222.0,74.0,74.0,74.0,222.0,74.0,148.0,74.0,74.0,1,0
21,22,148.0,74.0,148.0,222.0,148.0,74.0,444.0,0.0,74.0,1,0
22,23,148.0,74.0,0.0,0.0,222.0,296.0,74.0,0.0,74.0,1,0
23,24,444.0,0.0,74.0,74.0,444.0,74.0,222.0,0.0,74.0,1,0
24,25,140.0,112.0,84.0,224.0,0.0,56.0,84.0,140.0,28.0,4,4
25,26,56.0,56.0,0.0,140.0,224.0,140.0,56.0,140.0,28.0,4,4
26,27,84.0,252.0,0.0,168.0,28.0,56.0,56.0,168.0,28.0,4,4
27,28,0.0,0.0,0.0,0.0,0.0,133.0,665.0,665.0,133.0,0,4

1. 把商品成本、商品售價 取出
2. 和銷售數據 merge: merge_all 目前的大表

In [8]:
dataset_product_cleaned.rename(columns={"商品編號":"編號"},inplace=True)
drop_columns_for_info= ["淨利潤","商品類型","內容類型","商品類型_encoded","內容類型_encoded"]
dataset_product_cleaned = dataset_product_cleaned.drop(columns=drop_columns_for_info)
merge_all = pd.merge(merge_product_selling, dataset_product_cleaned, on="編號")
merge_all

,編號,112/9,112/10,112/11,112/12,113/1,113/2,113/3,113/4,淨利潤,商品類型_encoded,內容類型_encoded,商品售價,商品成本
0,1,252.0,420.0,504.0,840.0,84.0,84.0,84.0,588.0,84.0,3,4,250,66
1,2,94.0,0.0,188.0,282.0,658.0,188.0,0.0,470.0,94.0,3,4,250,56
2,3,148.0,222.0,222.0,222.0,222.0,148.0,148.0,148.0,74.0,3,4,250,76
3,4,1426.0,1054.0,620.0,1240.0,0.0,155.0,1302.0,1240.0,31.0,2,2,60,5
4,5,124.0,31.0,31.0,186.0,124.0,62.0,186.0,279.0,31.0,2,4,60,5
5,6,150.0,90.0,150.0,120.0,90.0,0.0,120.0,60.0,30.0,2,4,60,6
6,7,155.0,31.0,31.0,0.0,0.0,0.0,0.0,31.0,31.0,2,3,60,5
7,8,31.0,0.0,0.0,0.0,31.0,0.0,124.0,0.0,31.0,2,3,60,5
8,9,0.0,93.0,62.0,31.0,31.0,31.0,62.0,31.0,31.0,2,3,60,5
9,10,124.0,62.0,31.0,0.0,31.0,31.0,62.0,0.0,31.0,2,3,60,5
10,11,31.0,31.0,93.0,93.0,62.0,31.0,62.0,31.0,31.0,2,3,60,5
11,12,57.0,85.5,85.5,142.5,85.5,85.5,57.0,142.5,28.5,2,3,60,7.5
12,13,570.0,826.5,541.5,0.0,0.0,28.5,1111.5,627.0,28.5,2,2,60,7.5
13,14,199.5,171.0,199.5,427.5,0.0,57.0,0.0,0.0,28.5,2,3,60,7.5
14,15,28.5,57.0,0.0,142.5,199.5,114.0,57.0,171.0,28.5,2,0,60,7.5
15,16,0.0,142.5,256.5,285.0,342.0,114.0,142.5,85.5,28.5,2,4,60,7.5
16,17,0.0,0.0,0.0,155.0,31.0,0.0,31.0,0.0,31.0,2,4,60,5
17,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,116.0,29.0,2,2,60,7
18,19,1912.5,1224.0,1300.5,2295.0,765.0,382.5,918.0,1071.0,76.5,1,1,150,13.5
19,20,148.0,74.0,148.0,74.0,296.0,0.0,74.0,370.0,74.0,1,0,160,22
20,21,222.0,74.0,74.0,74.0,222.0,74.0,148.0,74.0,74.0,1,0,160,22
21,22,148.0,74.0,148.0,222.0,148.0,74.0,444.0,0.0,74.0,1,0,160,22
22,23,148.0,74.0,0.0,0.0,222.0,296.0,74.0,0.0,74.0,1,0,160,22
23,24,444.0,0.0,74.0,74.0,444.0,74.0,222.0,0.0,74.0,1,0,160,22
24,25,140.0,112.0,84.0,224.0,0.0,56.0,84.0,140.0,28.0,4,4,60,8
25,26,56.0,56.0,0.0,140.0,224.0,140.0,56.0,140.0,28.0,4,4,60,8
26,27,84.0,252.0,0.0,168.0,28.0,56.0,56.0,168.0,28.0,4,4,60,8
27,28,0.0,0.0,0.0,0.0,0.0,133.0,665.0,665.0,133.0,0,4,350,77

# 現在問題(進度) 定義預測分類Y 怎麼樣才是成功